<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
    <!-- Theme Informations -->	
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
    <!-- Theme Informations -->

        {% block title %}Welcome!
			{% endblock %}

    <!-- Stylesheets -->
        <link rel="stylesheet" href="{{asset ('bootstrap/css/bootstrap.css')}}">
        <link rel="stylesheet" href="{{asset ('css/style_index.css')}}">
        <link rel="stylesheet" href="{{ asset ('css/common-style.css')}}">
    <!-- Stylesheets -->
    
    <!-- Icons & Fonts -->
        <link rel="stylesheet" href="{{ asset('font-awesome/css/font-awesome.min.css')}}">
    <!-- Icons & Fonts -->

    </head>

	 <body id="page-top">
    {% block nav %}
        <!-- Navigation Section-->
    <nav id="nav" class="container-fluid navbar navbar-default navbar-fixed-top">
            <div class="container">
				<div class="navbar-header page-scroll">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#toggle">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand page-scroll" href="{{ path ('home')}}"><span>{Groupe Expert}</span></a>
				</div>
				<div class="collapse navbar-collapse" id="toggle">
						<ul class="nav navbar-nav">
							<li class="lBorder"><a class="page-scroll" href="{{ path ('home')}}">HOME</a></li>
							<li class="lBorder"><a class="page-scroll" href="{{ path ('acheter')}}">ACHETER</a></li>
							{% if app.user %}    
								<li class="lBorder"><a class="page-scroll" href="{{ path ('biens_index')}}">ZONE ADMIN</a></li>
								<li class="lBorder"><a class="page-scroll" href="{{ path ('app_logout')}}">LOGOUT</a></li>
								<li class="lBorder">{{ app.user.roles | join  }}</li>	
								{% else %}
									<li class="lBorder"><a class="page-scroll" href="{{ path ('app_login')}}">LOGIN ADMIN</a></li>
							{% endif %}			
						</ul>
            	</div>							
            </div>
    </nav>
    <!-- End of Navigation section-->
    {% endblock %}

		{# ********************************************************************* #}
		{# ********************************************************************* #}
		{# ********************************************************************* #}

	{% block body %}{% endblock %}

		{# ********************************************************************* #}
		{# ********************************************************************* #}
		{# ********************************************************************* #}

	{% block footer %}
	<!-- Footer Section -->
	<footer>
		<div class="row container-fluid">
			<div class="container">
				<div class="col-xs-12 col-sm-6 col-md-6">
					<h5><span>{RE.}</span> IMMOBILIER </h5>
					<ul>
						<li><a class="page-scroll" href="{{ path('acheter')}}">Acheter</a></li>
						<li><a class="page-scroll" href="{{ path('home')}}">Opportunités</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
					<h5> NOS PARTENAIRES </h5>
					<ul>
						<li><a href="https://www.logic-immo.com"><i class="fa fa-facebook"></i>lOGIS IMMO</a></li>
						<li><a href="https://www.wf3.fr"><i class="fa fa-twitter"></i>WEBFORCE 3</a></li>
					</ul>
				</div>
			</div> 
		</div>
				<div class="footer-ending text-center">
					<p>&copy; WEBFORCE 3 - Equipe EXPERT 2020</p>
				</div>
	</footer>
		<!-- End of Footer Section -->
	{% endblock %}
	{% block javascripts %}
	<!-- jQuery-->
			<script src="{{ asset('js/jquery.min.js')}}"></script>
		<!-- Bootstrap Core Javascript--> 
			<script src="{{ asset('bootstrap/js/bootstrap.min.js')}}"></script>
		<!-- Plugins -->
			<script src="{{ asset('js/jquery.easing.min.js')}}"></script>
			<script src="{{ asset('js/script.js')}}"></script>
	{% endblock %}
	</body>
</html>
